/* This
is
a comment! */

/* syntax

selector {
  property: value;
  property: value;
}

*/

/* All prop: val; pairs end with a semicolon */

p { /*select all <p> */
  font-size: 16px; /* 16px, ?pt, 100%, 1em */
  line-height: 1.5em;
}

figcaption {
  font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: Georgia, "New Times Roman";
}

